body{
    background-image: linear-gradient(to bottom right,red , pink, green);
    margin: 20px;
    padding: 10px;
    box-sizing: 2px;
}
.img{
    
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row; 
    width: 100%;
    margin-top: 60px;
    width: 50%;
    margin: 0 auto;    
}
.hydrangeas{   
    font-size: 45px;
    margin-top: 120px;        
}
.border{
    border-radius: 50%;
}
.variety{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    flex-direction: row; 
    margin-top: 70px;
    margin-left: 60px; 
}
.name{
    display: grid;
    grid-template-columns: 20% 1% 20% 1% 18% 1% 20% 1% 20% ;
    flex-direction: row; 
    font-size: 14px;     
    margin-top: 30px;
    margin-left: 70px; 
    font-weight: bolder;
}